@TIPRot: #e4071c;
@100: 100%;
@grey: grey;
@lightgrey: lightgrey;
.width-and-height(@width: 100%, @height: 100%) {
  width: @width;
  height: @height;
}
.whiteBoldFont {
  color: white;
  font-weight: bold;
}
body {
  font-size: 14px;
  font-family: Helvetica;
}
a {
  color: #00b7ff;
}
.right {
  text-align: right;
}
.TIPRot {
  color: @TIPRot;
}
.bolt {
  font-weight: bold;
}
#statusRow {
  z-index: 1;
  opacity: 0.9;
  background-color: @lightgrey;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -70px;
  position: fixed;
  .width-and-height(100%,50px);
}
#userNameCSS {
  margin-left: 10px;
  height: @100;
  vertical-align: middle;
}
#logo {
  margin-top: 7px;
  width: 36px;
  height: 36px;
}
.loadIcon {
  padding-top: 11px;
  font-size: 12px;
}
.loadIcon img {
  .width-and-height(30px,30px);
}
#navBarRow {
  margin: 70px 10px 20px;
  background-color: #fff;
}
.redButtonDiv {
  height: 70px;
}
.btn {
  background-color: @TIPRot;
  .width-and-height;
  border-style: hidden;
  box-shadow: 0 0 5px @grey, -0px -0px 5px @grey;
  outline: none !important;
  &:hover {
    background-color: @TIPRot;
    .width-and-height;
    border-style: hidden;
    box-shadow: 0 0 10px @grey, -0px -0px 10px @grey;
    outline: none !important;
  }
  &:active {
    background-color: @TIPRot;
    .width-and-height;
    border-style: hidden;
    box-shadow: 0 0 15px @grey, -0px -0px 15px @grey;
    outline: none !important;
  }
  p {
    .whiteBoldFont
  }
}
#pathBarRow {
  background-color: @lightgrey;
  padding-left: 25px;
  padding-right: 25px;
  width: @100;
  height: 30px;
}
