@TIPRot: #e4071c;
@100: 100%;
@grey: grey;
@lightgrey: lightgrey;

//mixin to set values for width and height
.width-and-height(@width: 100%, @height: 100%) {
  width: @width;
  height: @height;
}

//mixin to set values for padding
.padding-left-right(@left, @right) {
  padding-left: @left;
  padding-right: @right;
}

//defines the font of the buttons
.whiteBoldFont {
  color: #fff;
  font-weight: bold;
}

//responsive buttons media query
@media screen and (max-width:995px) {
  .small {
    display: inline !important;
  }
  .big {
    display: none;
  }
}
.center {
  text-align: center;
}
tr {
  z-index: -1;
}
.dx-datagrid:hover{
  cursor: pointer;
}
#loadIcon {
  width: 200px;
  height: 200px;
}
#loadIndicator {
  color: @TIPRot;
  text-align: center;
  padding-top: 15%;
  width: 200px;
  opacity: 0.9;
  margin-top: -70px;
  z-index: 1;
  position: fixed;
  background-color: white;
  .width-and-height;
}
body {
  font-size: 14px;
  font-family: Helvetica;
}
a {
  color: @TIPRot;
}
a:hover {
  color: @TIPRot;
}
.right {
  text-align: right;
}
.TIPRot {
  color: @TIPRot;
}
.bold {
  font-weight: bold;
}
#statusRow {
  z-index: 1;
  opacity: 0.9;
  background-color: @lightgrey;
  margin-top: -15px;
  position: fixed;
  .width-and-height(100%,50px);
  border-bottom-style: solid;
  border-bottom-color: @TIPRot;
  border-bottom-width: 1px;
}
#logo {
  margin-top: 7px;
}
#logo img {
  .width-and-height(36px, 36px);
}
.loadIcon {
  padding-top: 11px;
  font-size: 12px;
}
.redButtonDiv {
  height: 40px;
}
.btn {
  background-color: @TIPRot;
  .width-and-height;
  border-style: hidden;
  box-shadow: 0 0 5px @grey, -0px -0px 5px @grey;
  outline: none !important;
  &:hover {
    background-color: @TIPRot;
    .width-and-height;
    border-style: hidden;
    box-shadow: 0 0 10px @grey, -0px -0px 10px @grey;
    outline: none !important;
  }
  &:active {
    background-color: @TIPRot;
    .width-and-height;
    border-style: hidden;
    box-shadow: 0 0 15px @grey, -0px -0px 15px @grey;
    outline: none !important;
  }
  p {
    .whiteBoldFont !important;
  }
}
.dx-button-text {
  .whiteBoldFont !important;
}
@-ms-viewport {
  zoom: 1.0;
  width: device-width;
}
#loading-bar .bar {
  background: #e4071c;
}

#gridContent{
  margin-top: 7px;
}
