extends layout

block content
  div(ng-controller="BesuchPlanCtrl")
    div(ng-init="vm.initBesuchPlan()").container-fluid.contentContainer
      title Besuch
      script(dx-template="myTemplate")
        h1 {{stateInfo.name}}
        p
          b Capital: 
          i {{stateInfo.capital}}
        p
          b Area: 
          i{{stateInfo.area}}
        p
          b Population: 
          i {{stateInfo.population}}
      div#landscapeScheduler(dx-scheduler="vm.schedulerBesuchPlan")
