extends layout

block content
  div(ng-controller="BesuchPlanCtrl")
    div.container-fluid.contentContainer
      title Besuch
      div(ng-init="vm.initBesuchPlan()", dx-scheduler="vm.schedulerBesuchPlan")
