extends layout

block content
  div(ng-controller="BesuchPlanCtrl")
    div(ng-init="vm.initBesuchPlan()").container-fluid.contentContainer
      title Besuch
      div#landscapeScheduler(dx-scheduler="vm.schedulerLandscapeBesuchPlan")
      div#portraitScheduler(dx-scheduler="vm.schedulerPortraitBesuchPlan")
