extends layout

block content
  div(ng-controller="PersonCtrl")
    div#pathBarRow
      p#path.TIPRot
        a(href="/person").TIPRot
          span.pathObject Personen
        span.grey  /
        span.TIPRot.pathObject  {{vm.detailPersonDataSource.nachname}}
    div.container
      div(ng-init="vm.initDetailPerson()")
      h1.center {{vm.detailPersonDataSource.nachname}}
      div.row
        div.col-xs-2
        div.col-xs-8
          table.table.table-condensed
            tbody
              tr(ng-show="vm.detailPersonDataSource.personengruppen")
                td.bold Gruppencode:
                td {{vm.detailPersonDataSource.personengruppen}}
              tr(ng-show="vm.detailPersonDataSource.anrede")
                td.bold Anrede:
                td {{vm.detailPersonDataSource.anrede}}
              tr(ng-show="vm.detailPersonDataSource.titel")
                td.bold Titel:
                td {{vm.detailPersonDataSource.titel}}
              tr(ng-show="vm.detailPersonDataSource.vorname")
                td.bold Vorname:
                td {{vm.detailPersonDataSource.vorname}}
              tr(ng-show="vm.detailPersonDataSource.nachname")
                td.bold Nachname:
                td {{vm.detailPersonDataSource.nachname}}
              tr(ng-show="vm.detailPersonDataSource.firmenbez_1")
                td.bold Geschäftspartner:
                td 
                  a(href = "http://localhost:3000/detail/detailGeschaeftspartner?id={{vm.detailPersonDataSource.id_geschaeftspartner}}"){{vm.detailPersonDataSource.firmenbez_1}}
              tr(ng-show="vm.detailPersonDataSource.abteilung")
                td.bold Abteilung:
                td {{vm.detailPersonDataSource.abteilung}}
              tr(ng-show="vm.detailPersonDataSource.telefon")
                td.bold Telefon:
                td {{vm.detailPersonDataSource.telefon}}
              tr(ng-show="vm.detailPersonDataSource.mobil")
                td.bold Mobil
                td {{vm.detailPersonDataSource.mobil}}
              tr(ng-show="vm.detailPersonDataSource.fax")
                td.bold Fax
                td {{vm.detailPersonDataSource.fax}}
              tr(ng-show="vm.detailPersonDataSource.email")
                td.bold Email
                td 
                  a(href="mailto:{{vm.detailPersonDataSource.email}}") {{vm.detailPersonDataSource.email}}
              tr(ng-show="vm.detailPersonDataSource.geburtsdatum")
                td.bold Geburtsdatum
                td {{vm.detailPersonDataSource.geburtsdatum}}
