extends layout

block content
  div#pathBarRow
    p#path.TIPRot
      a(href="/geschaeftspartner").TIPRot
        span.pathObject Geschäftspartner
      span.grey  /
      span.TIPRot.pathObject  {{vm.pathBarAttribute}}
  div.container(ng-init=" vm.initDetailGeschaeftspartner()")
    h1.center {{vm.pathBarAttribute}}
    div.row
      div.col-xs-2
      div.col-xs-8
        table.table.table-condensed
          tbody
            tr
              td.bold ID:
              td Lukas
            tr
              td.bold GP Nummer:
              td BalsLukasdasdölfkjsa
            tr
              td.bold CodeGpKz
              td ölkjasödflkj
            tr
              td.bold Firmenbezeichnung 1:
              td 0664 4343533
            tr
              td.bold Firmenbezeichnung 2:
              td Bals
            tr
              td.bold Firmenbezeichnung 3:
              td asdfasdfs
            tr
              td
              td
            tr
              td
              td
      div.col-xs-2
