extends layout

block content
  div(ng-controller="BesuchPlanCtrl")
    div.container-fluid.contentContainer(ng-init=" vm.initDetailBesuchPlan()")
      title {{vm.detailGeschaeftspartnerDataSource.Firmenbez1}}
