extends layout

block content
  div(ng-controller="PersonCtrl")
    div.container
      div(ng-init="vm.initDetailPerson()")
      h1.center {{vm.detailPersonDataSource.Nachname}}
      div.row
        div.col-xs-2
        div.col-xs-8
          table.table.table-condensed
            tbody
              tr
                td.bold Gruppen:
                td {{vm.detailPersonDataSource.Gruppe}}
              tr
                td.bold Anrede:
                td {{vm.detailPersonDataSource.Anrede}}
              tr
                td.bold Titel:
                td {{vm.detailPersonDataSource.Titel}}
              tr
                td.bold Vorname:
                td {{vm.detailPersonDataSource.Vorname}}
              tr
                td.bold Nachname:
                td {{vm.detailPersonDataSource.Nachname}}
              tr
                td.bold Geschäftspartner:
                td 
                  a(href = "http://localhost:3000/detail/detailGeschaeftspartner?id={{vm.detailPersonDataSource.IdGeschaeftspartner}}"){{vm.detailPersonDataSource.Firmenbez1}}
              tr
                td.bold Abteilung:
                td {{vm.detailPersonDataSource.Abteilung}}
              tr
                td.bold Telefon:
                td {{vm.detailPersonDataSource.Telefon}}
              tr
                td.bold Mobil:
                td {{vm.detailPersonDataSource.Mobil}}
              tr
                td.bold Fax:
                td {{vm.detailPersonDataSource.Fax}}
              tr
                td.bold Email:
                td 
                  a(href="mailto:{{vm.detailPersonDataSource.Email}}") {{vm.detailPersonDataSource.Email}}
              tr
                td.bold Geburtsdatum:
                td {{vm.detailPersonDataSource.Geburtsdatum}}
              tr
                td
                td
