extends layout

block content
  div(ng-controller="BesuchCtrl")
    div.container-fluid.contentContainer(ng-init=" vm.initDetailBesuch()")
      title(ng-show="vm.detailBesuchDataSource.Firmenbez1") {{vm.detailBesuchDataSource.Firmenbez1}}
      title(ng-hide="vm.detailBesuchDataSource.Firmenbez1") Neues Ereignis erstellen
      div.row
        div.col-md-9
          div.row
            div.col-md-12
              h2(ng-hide="vm.gpName") Neues Ereignis erstellen:
              h2(ng-show="vm.gpName") {{vm.gpName}}
                small  Geschäftspartner
              div(dx-lookup="vm.lookupGeschaeftspartner")
          div.row
            div.col-md-12
              h2(ng-hide="vm.detailBesuchDataSource.Bezeichnung") Besuchstyp auswählen:
              h2(ng-show="vm.detailBesuchDataSource.Bezeichnung") {{vm.detailBesuchDataSource.Bezeichnung}}
                small  Besuchstyp
              div(dx-lookup="vm.lookupBesuchstyp")
        div.col-xs-3
          div.row
            div.col-md-12
              h2 Anfangszeitpunkt
              div(dx-date-box="vm.dateboxAnfang")
          div.row
            div.col-md-12
              h2 Endzeitpunkt
              div(dx-date-box="vm.dateboxEnde")
      //- div.row
      //-   div.col-md-12
      //-     h2 Berichte:
      div(ng-repeat="bericht in vm.dataSourceBericht")
        div.row.titelOptionsDetailBesuch
          div.col-md-12
            div(dx-text-box="vm.berichtHeading", ng-model="bericht.Titel")
        div.row
          div.col-md-12
            div(dx-text-area="vm.berichtContent", ng-model="bericht.Text")
      div(ng-show="vm.neuerBericht")
        div.row
          div.col-md-12
            h2 Neuer Bericht:
        div.row
          div.col-md-12
            div(dx-text-box="vm.berichtHeading", ng-model="vm.berichtHeadingContent")
        div.row
          div.col-md-12
            div(dx-text-area="vm.berichtContent", ng-model="vm.berichtContentContent")
      div.row
        div.col-md-6
          div(dx-button="vm.cancel").btnOptionsDetailBesuchPlan
          div(ng-show="vm.detailBesuchDataSource.ClientId", dx-button="vm.loeschen").btnOptionsDetailBesuchPlan
          div(ng-show="vm.detailBesuchDataSource.ClientId", dx-button="vm.update").btnOptionsDetailBesuchPlan
          div(ng-show="vm.dataSourceBericht[0]", dx-button="vm.bericht").btnOptionsDetailBesuchPlan
          div(ng-hide="vm.detailBesuchDataSource.ClientId", dx-button="vm.save").btnOptionsDetailBesuchPlan
