extends layout

block content
  div#pathBarRow
    p#path.TIPRot
      a(href="/{{vm.linkMainPage}}").TIPRot
        span.pathObject {{vm.firstAttribute}}
      span.grey  /
      span.TIPRot.pathObject  {{vm.secondAttribute}}
  div.container
    h1 {{vm.secondAttribute}}
    div(ng-init="vm.initDetail()", dx-data-grid="vm.gridDetails")
