extends layout

block content
  div(ng-controller="PersonCtrl")
    div.container-fluid.contentContainer(ng-init="vm.initDetailPerson()")
      title {{vm.detailPersonDataSource.Nachname}}
      div.row
        div.col-md-6
          table.table.table-condensed
            tbody
              tr
                td.bold Gruppen:
                td {{vm.detailPersonDataSource.Gruppe}}
              tr
                td.bold Anrede:
                td {{vm.detailPersonDataSource.Anrede}}
              tr
                td.bold Titel:
                td {{vm.detailPersonDataSource.Titel}}
              tr
                td.bold Vorname:
                td {{vm.detailPersonDataSource.Vorname}}
              tr
                td.bold Nachname:
                td {{vm.detailPersonDataSource.Nachname}}
              tr
                td.bold Geschäftspartner:
                td 
                  a(href = "http://localhost:3000/detail/detailGeschaeftspartner?id={{vm.detailPersonDataSource.IdGeschaeftspartner}}"){{vm.detailPersonDataSource.Firmenbez1}}
              tr
                td.bold Abteilung:
                td {{vm.detailPersonDataSource.Abteilung}}
              tr
                td.bold Telefon:
                td {{vm.detailPersonDataSource.Telefon}}
              tr
                td.bold Mobil:
                td {{vm.detailPersonDataSource.Mobil}}
              tr
                td.bold Fax:
                td {{vm.detailPersonDataSource.Fax}}
              tr
                td.bold Email:
                td 
                  a(href="mailto:{{vm.detailPersonDataSource.Email}}") {{vm.detailPersonDataSource.Email}}
              tr
                td.bold Geburtsdatum:
                td {{vm.detailPersonDataSource.Geburtsdatum}}
        div.col-md-6
          table.table.table-condensed
            tbody
              tr
                td.bold GP-Nr.:
                td {{vm.detailGeschaeftspartnerDataSourceForPerson.GpNummer}}
              tr
                td.bold Kennzeichen:
                td {{vm.detailGeschaeftspartnerDataSourceForPerson.GpKz}}
              tr
                td.bold Firmenbez. 1:
                td {{vm.detailGeschaeftspartnerDataSourceForPerson.Firmenbez1}}
              tr
                td.bold Firmenbez. 2:
                td {{vm.detailGeschaeftspartnerDataSourceForPerson.Firmenbez2}}
              tr
                td.bold Firmenbez. 3:
                td {{vm.detailGeschaeftspartnerDataSourceForPerson.Firmenbez3}}
              tr
                td.bold Adresse:
                td {{vm.detailGeschaeftspartnerDataSourceForPerson.Strasse}}<br>{{vm.detailGeschaeftspartnerDataSourceForPerson.Land}} - {{vm.detailGeschaeftspartnerDataSourceForPerson.Plz}} {{vm.detailGeschaeftspartnerDataSourceForPerson.Ort}}
              tr
                td.bold Telefon:
                td {{vm.detailGeschaeftspartnerDataSourceForPerson.Telefon}}
              tr
                td.bold Fax:
                td {{vm.detailGeschaeftspartnerDataSourceForPerson.Fax}}
              tr
                td.bold Email:
                td 
                  a(href="mailto:{{vm.detailGeschaeftspartnerDataSourceForPerson.Email}}") {{vm.detailGeschaeftspartnerDataSourceForPerson.Email}}
              tr
                td.bold Homepage:
                td
                  a(href="http://{{vm.detailGeschaeftspartnerDataSourceForPerson.Homepage}}" target="_blank") {{vm.detailGeschaeftspartnerDataSourceForPerson.Homepage}}  
      div.row
        div.col-md-1
          button.btn(Type="button" onClick="history.go(-1);return true;") Zurück
