extends layout

block content
  div(ng-controller="PersonCtrl")
    div#pathBarRow
      p#path.TIPRot
        a(href="/person").TIPRot
          span.pathObject Personen
        span.grey  /
        span.TIPRot.pathObject  {{vm.detailPersonDataSource.Nachname}}
    div.container
      div(ng-init="vm.initDetailPerson()")
      h1.center {{vm.detailPersonDataSource.Nachname}}
      div.row
        div.col-xs-2
        div.col-xs-8
          table.table.table-condensed
            tbody
              tr(ng-show="vm.detailPersonDataSource.Gruppe")
                td.bold Gruppen:
                td {{vm.detailPersonDataSource.Gruppe}}
              tr(ng-show="vm.detailPersonDataSource.Anrede")
                td.bold Anrede:
                td {{vm.detailPersonDataSource.Anrede}}
              tr(ng-show="vm.detailPersonDataSource.Titel")
                td.bold Titel:
                td {{vm.detailPersonDataSource.Titel}}
              tr(ng-show="vm.detailPersonDataSource.Vorname")
                td.bold Vorname:
                td {{vm.detailPersonDataSource.Vorname}}
              tr(ng-show="vm.detailPersonDataSource.Nachname")
                td.bold Nachname:
                td {{vm.detailPersonDataSource.Nachname}}
              tr(ng-show="vm.detailPersonDataSource.Firmenbez1")
                td.bold Geschäftspartner:
                td 
                  a(href = "http://localhost:3000/detail/detailGeschaeftspartner?id={{vm.detailPersonDataSource.IdGeschaeftspartner}}"){{vm.detailPersonDataSource.Firmenbez1}}
              tr(ng-show="vm.detailPersonDataSource.Abteilung")
                td.bold Abteilung:
                td {{vm.detailPersonDataSource.Abteilung}}
              tr(ng-show="vm.detailPersonDataSource.Telefon")
                td.bold Telefon:
                td {{vm.detailPersonDataSource.Telefon}}
              tr(ng-show="vm.detailPersonDataSource.Mobil")
                td.bold Mobil
                td {{vm.detailPersonDataSource.Mobil}}
              tr(ng-show="vm.detailPersonDataSource.Fax")
                td.bold Fax
                td {{vm.detailPersonDataSource.Fax}}
              tr(ng-show="vm.detailPersonDataSource.Email")
                td.bold Email
                td 
                  a(href="mailto:{{vm.detailPersonDataSource.Email}}") {{vm.detailPersonDataSource.Email}}
              tr(ng-show="vm.detailPersonDataSource.Geburtsdatum")
                td.bold Geburtsdatum
                td {{vm.detailPersonDataSource.Geburtsdatum}}
