extends layout

block content
  div(ng-controller="GeschaeftspartnerCtrl")
    div.container-fluid.contentContainer(ng-init=" vm.initDetailGeschaeftspartner()")
      title {{vm.detailGeschaeftspartnerDataSource.Firmenbez1}}
      div.row
        div.col-md-6
          table.table.table-condensed
            tbody
              tr
                td.bold GP-Nr.:
                td {{vm.detailGeschaeftspartnerDataSource.GpNummer}}
              tr
                td.bold Kennzeichen:
                td {{vm.detailGeschaeftspartnerDataSource.GpKz}}
              tr
                td.bold Firmenbez. 1:
                td {{vm.detailGeschaeftspartnerDataSource.Firmenbez1}}
              tr
                td.bold Firmenbez. 2:
                td {{vm.detailGeschaeftspartnerDataSource.Firmenbez2}}
              tr
                td.bold Firmenbez. 3:
                td {{vm.detailGeschaeftspartnerDataSource.Firmenbez3}}
              tr
                td.bold Adresse:
                td {{vm.detailGeschaeftspartnerDataSource.Strasse}}<br>{{vm.detailGeschaeftspartnerDataSource.Land}} - {{vm.detailGeschaeftspartnerDataSource.Plz}} {{vm.detailGeschaeftspartnerDataSource.Ort}}
              tr
                td.bold Telefon:
                td {{vm.detailGeschaeftspartnerDataSource.Telefon}}
              tr
                td.bold Fax:
                td {{vm.detailGeschaeftspartnerDataSource.Fax}}
              tr
                td.bold Email:
                td 
                  a(href="mailto:{{vm.detailGeschaeftspartnerDataSource.Email}}") {{vm.detailGeschaeftspartnerDataSource.Email}}
              tr
                td.bold Homepage:
                td
                  a(href="{{vm.detailGeschaeftspartnerDataSource.Homepage}}" target="_blank") {{vm.detailGeschaeftspartnerDataSource.Homepage}}  
              tr
                td
                td
        div.col-md-6
          div(dx-data-grid="vm.gridPersonInGP")
