extends layout

block content
  div#pathBarRow
    p#path.TIPRot
      a(href="/").TIPRot
        span.pathObject Geschäftspartner
      span.grey  /
      span.TIPRot.pathObject  iwas
  div.container
    div(ng-init=" vm.initDetailGeschaeftspartner()")
    h1 DetailPage
