extends layout

block content
  div#pathBarRow
    p#path.TIPRot
      span.pathObject Geschäftspartner
      span.grey  /
      span.TIPRot.pathObject  Irgendeinefirma
  div.container
    div(dx-data-grid="vm.gridGeschaeftspartner")
