extends layout

block content
  title M.I.E.
  div.container-fluid.contentContainer
    h1 Herzlich Willkommen bei M.I.E.
      small  Mobiles Informations- und Erfassungssystem
  div(dx-button="vm.Button") Click
