extends layout

block content
  div#pathBarRow
    p#path.TIPRot
      span.pathObject Geschäftspartner
      //span.grey  /
      //span.TIPRot.pathObject  Irgendeinefirma
  div.container
    div(ng-show="vm.dataSourceGeschaeftspartner", dx-data-grid="vm.gridGeschaeftspartner")
    div(ng-show="vm.dataSourcePerson", dx-data-grid="vm.gridPerson")
  
