doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel="stylesheet" href="/angular-loading-bar/loading-bar.min.css")
    script(src="/jquery/jquery.js")
    script(src="/angular/angular.js")
    script(src="/angular-sanitize/angular-sanitize.js")
    script(src="/javascripts/loading-bar.min.js")
    
    link(rel='stylesheet', href='/devextreme/stylesheets/dx.common.css')
    link(rel='stylesheet', href='/devextreme/stylesheets/dx.light.css')
    script(src="/devextreme/javascript/jquery.globalize/globalize.js")
    script(src="/devextreme/javascript/devextreme-localization/dx.webappjs.de.js")
    script(src="/devextreme/javascript/devextreme-modules/dx.module-core.js")
    script(src="/devextreme/javascript/devextreme-modules/dx.module-widgets-base.js")
    script(src="/devextreme/javascript/devextreme-modules/dx.module-widgets-web.js")
    
    script(src="/javascripts/Initialize.js")
    script(src="/javascripts/services/GeschaeftspartnerService.js")
    script(src="/javascripts/controllers/GeschaeftspartnerCtrl.js")
    script(src="/javascripts/services/PersonService.js")
    script(src="/javascripts/controllers/PersonCtrl.js")
    script(src="/javascripts/services/LoadService.js")
    script(src="/javascripts/controllers/LoadCtrl.js")
    
    link(rel='stylesheet', href='/stylesheets/css/style.css')

  body(ng-app="tip", ng-controller="LoadCtrl")
    div#statusRow.TIPRot
      div.container-fluid
        div.col-xs-1#logo
          a(href="/")
            img(src="/images/logo.png")
        div.col-xs-2.redButtonDiv
          a(href="/geschaeftspartner")
            button.btn Geschäftspartner
        div.col-xs-2.redButtonDiv
          a(href="/person")
            button.btn Personen
        div.col-xs-2.redButtonDiv
          button.btn Luca
        div.col-xs-2.redButtonDiv
          button.btn Sebastian
        div.col-xs-2.redButtonDiv
          button.btn Dreier
        div.col-xs-2.redButtonDiv
          button.btn Dreier
        div.col-xs-1.right#loadIcon
          div(class="sk-cube-grid")
            div(class="sk-cube sk-cube1")
            div(class="sk-cube sk-cube2")
            div(class="sk-cube sk-cube3")
            div(class="sk-cube sk-cube4")
            div(class="sk-cube sk-cube5")
            div(class="sk-cube sk-cube6")
            div(class="sk-cube sk-cube7")
            div(class="sk-cube sk-cube8")
            div(class="sk-cube sk-cube9")
    block content
