doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    //link(rel="stylesheet" href="/angular-loading-bar/loading-bar.min.css")
    link(rel='stylesheet', href='/devextreme/stylesheets/dx.common.css')
    link(rel='stylesheet', href='/devextreme/stylesheets/dx.light.css')  
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    
    script(src="/jquery/jquery.min.js")
    script(src="/angular/angular.js")
    script(src="/angular-sanitize/angular-sanitize.js")
    script(src="/javascripts/loading-bar.min.js")
    

    script(src="/devextreme/javascript/jquery.globalize/globalize.js")
    script(src="/devextreme/javascript/devextreme-localization/dx.webappjs.de.js")
    script(src="/devextreme/javascript/devextreme-modules/dx.module-core.js")
    script(src="/devextreme/javascript/devextreme-modules/dx.module-widgets-base.js")
    script(src="/devextreme/javascript/devextreme-modules/dx.module-widgets-web.js")
    
    script(src="/javascripts/Initialize.js")
    script(src="/javascripts/services/GeschaeftspartnerService.js")
    script(src="/javascripts/controllers/GeschaeftspartnerCtrl.js")
    script(src="/javascripts/services/PersonService.js")
    script(src="/javascripts/controllers/PersonCtrl.js")
    script(src="/javascripts/services/LoadService.js")
    script(src="/javascripts/controllers/LoadCtrl.js")
    script(src="/javascripts/services/BesuchPlanService.js")
    script(src="/javascripts/controllers/BesuchPlanCtrl.js")


    

  body(ng-app="tip", ng-controller="LoadCtrl")
    div(ng-init="vm.initIsLoading()")
    include navBar  
    block content
