div#statusRow.TIPRot
  div.container-fluid
    div.row
      div.col-xs-1
        div.col-xs-1#logo
          a(href="/")
            img(src="/images/logo.png")
      div.col-xs-10.landscapemode
        table#navTable
          tr
            td.navTd
              div.col-xs-2.redButtonDiv
                a(href="/geschaeftspartner")
                  button.btn Geschäftspartner
            td.navTd
              div.col-xs-2.redButtonDiv
                a(href="/person")
                  button.btn Personen
            td.navTd
              div.col-xs-2.redButtonDiv
                a(href="/besuchPlan")
                  button.btn Besuch Plan
            td.navTd
              div.col-xs-2.redButtonDiv
                a(href="/besuch")
                  button.btn Besuche
      div.col-xs-10.portraitmode
        table#navTable
          tr
            td.navTd
              div.col-xs-2.redButtonDiv
                a(href="/geschaeftspartner")
                  button.btn Geschäftspartner
            td.navTd
              div.col-xs-2.redButtonDiv
                a(href="/person")
                  button.btn Personen
          tr
            td.navTd
              div.col-xs-2.redButtonDiv
                a(href="/besuchPlan")
                  button.btn Besuch Plan
            td.navTd
              div.col-xs-2.redButtonDiv
                a(href="/besuch")
                  button.btn Besuche
      div.col-xs-1
        div(ng-hide="vm.isLoading").right
          a(href="/api/synchDB")
            img(src="/images/reload.png")#reloadIMG
        div(class="sk-cube-grid", ng-show="vm.isLoading")
          div(class="sk-cube sk-cube1")
          div(class="sk-cube sk-cube2")
          div(class="sk-cube sk-cube3")
          div(class="sk-cube sk-cube4")
          div(class="sk-cube sk-cube5")
          div(class="sk-cube sk-cube6")
          div(class="sk-cube sk-cube7")
          div(class="sk-cube sk-cube8")
          div(class="sk-cube sk-cube9")
