html
  head
    title Error
    style
      include ../public/stylesheets/dreier.css
      include ../public/stylesheets/bootstrap.min.css
  body  
    header#header
      div#headline Dreier's Website!
    div#main
      
      
