extends layout

block content
  form(name='myForm', ng-controller='TestCtrl')
      label
          | Single word:
          input(type='text', name='input', ng-model='text.text', ng-pattern='text.word', required='', ng-trim='false')
        |   
        div(role='alert')
          span.error(ng-show='myForm.input.$error.required')
            | Required!
          |     
          span.error(ng-show='myForm.input.$error.pattern')
            | Single word only!
        |   
        tt text = {{text.text}}
        br
        |   
        tt myForm.input.$valid = {{myForm.input.$valid}}
        br
        |   
        tt myForm.input.$error = {{myForm.input.$error}}
        br
        |   
        tt myForm.$valid = {{myForm.$valid}}
        br
        |   
        tt myForm.$error.required = {{!!myForm.$error.required}}
        br
