extends layout

block content
  div(ng-controller="NewCtrl")
  h1= title
    div
      div(dx-text-box="vm.vornameConfig")
    div
      div(dx-text-box="vm.nachnameConfig")
    div
      {{vm.vorname}} {{vm.nachname}}
    div
      div(dx-button="vm.doSomethingConfig")
