<html>

<head>
  <title>Hello</title>
  <link href='stylesheets/css.css' rel="stylesheet">
</head>

<body>
  <h1>Greetings!</h1>
  
  <div id="input">
    <input id="firstname" name="firstname" placeholder="First Name"></input>
    <input id="middleinitial" name="middleinitial" placeholder="Initial"></input>
    <input id="lastname" name="lastname" placeholder="Last Name"></input>
  </div>

  <div id="submit">
    <button type="button" name="button">Submit</button>
  </div>

  <h2>Output</h2>
  <div id="content">
    <script src='javascripts/greeter.js'></script>
  </div>

</body>
</html>
