extends layout

block content
.row
  .col-xs-12
    h2 MainPage
.row
  .col-xs-4
      a.btn.btn-default.btn-block(href='http://localhost:3000/users/') Users
  .col-xs-4
      a.btn.btn-default.btn-block(href='http://localhost:3000/dreier/1') Dreier1111
  .col-xs-4
      a.btn.btn-default.btn-block(href='http://localhost:3000/dreier/2') Dreier2222
.row
  #input
    .col-xs-3
        input#firstname.form-control(name='firstname', placeholder='First Name')
    .col-xs-3
        input#middleinitial.form-control(name='middleinitial', placeholder='Initial')
    .col-xs-3
        input#lastname.form-control(name='lastname', placeholder='Last Name')
    .col-xs-3
        button#submit.btn.btn-default.btn-block(type='button', name='button') Submit
.row
  .col-xs-12
    h2 Output
.row
  .col-xs-12
    .jumbotron
      p Hier kommt der Content
      p#content
.row
  script
    include ../public/javascripts/greeter.js
        
