html
  head
    title Hello
    style 
      include ../public/stylesheets/css.css
  body
    h1 Greetings!
    #input
      input#firstname(name='firstname', placeholder='First Name')
      input#middleinitial(name='middleinitial', placeholder='Initial')
      input#lastname(name='lastname', placeholder='Last Name')
    #submit
      button(type='button', name='button') Submit
    h2 Output
    #content
      script
        include ../public/javascripts/greeter.js
