doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="../public/javascripts/angular.min.js")
    script(src="../public/javascripts/Initialize.js")
    script(src="../public/javascripts/services/TestService.js")
    script(src="../public/javascripts/controllers/TestCtrl.js")
  body(ng-app="tip")
    block content
