extends layout

block content
  div(ng-controller="TestCtrl")
    .row
      .col-xs-12
        a.btn.btn-default.btn-block(href='http://localhost:3000') Home
    .row
      .col-xs-12
        h2 Holt Daten aus der Datenbank
          small  Mit angular.js gemacht
    .row
      .col-xs-2
        button.btn.btn-danger(ng-click="getData();") Datenbankknopf
      .col-xs-10
        table.table(ng-show="databases")
          thead
            tr
              th #
              th Info
          tbody
            tr(ng-repeat="database in databases")
              td {{database.id}}
              td {{database.info}}
    .row
      .col-xs-12
        h2 Users Page!
    .row
      .col-xs-6
        input.form-control(placeholder="Vorname" ng-model="vorname")
      .col-xs-6
        input.form-control(placeholder="Nachname" ng-model="nachname")
    .row
      .col-xs-12
        .jumbotron
          p Hier wird geschrieben:
          h3 --> {{vorname}} {{nachname}}!
    .row
      .col-xs-12
        h2 Radfahrstatistik:
    .row
      .col-xs-6
        input.form-control(placeholder="Tippe einen User ein!" ng-model="id")
      .col-xs-6
        button.btn.btn-success(ng-click="getID();") Click
    .row
      .col-xs-12
        table.table
          thead
            tr
              th Tour
              th Länge
          tbody
            tr(ng-repeat="content in contents")
              td {{content.tour}}
              td {{content.length}} km
    
