html
  head
    title Users
    style 
      include ../public/stylesheets/css.css
      include ../public/stylesheets/bootstrap.min.css
  body
    .container
      .row
        .col-xs-12
          h1 Users!
      .row
        .col-xs-12
          .jumbotron
            p Hier stehen die User
      .row
        .col-xs-12
          a.btn.btn-default(href='http://localhost:3000') Home
