extends layout

block content
  div(ng-controller="TestCtrl")
    .row
      .col-xs-12
        h2 Users Page!
    .row
      .col-xs-6
        input.form-control(placeholder="Vorname" ng-model="vorname")
      .col-xs-6
        input.form-control(placeholder="Nachname" ng-model="nachname")
    .row
      .col-xs-12
        .jumbotron
          p Hier wird geschrieben:
          h3 --> {{vorname}} {{nachname}}!
    .row
      .col-xs-12
        h2 Radfahrstatistik:
    .row
      .col-xs-6
        input.form-control(placeholder="Tippe einen User ein!" ng-model="id")
      .col-xs-6
        button.btn.btn-success(ng-click="getID();") Click
    .row
      .col-xs-12
        table.table
          thead
            tr
              th Tour
              th Länge
          tbody
            tr(ng-repeat="content in contents")
              td {{content.tour}}
              td {{content.length}} km
    .row
      .col-xs-12
        a.btn.btn-default(href='http://localhost:3000') Home
