extends layout

block content
  h1= title
  div(ng-controller="TestCtrl")
    div
      div(dx-text-box="vm.vornameConfig")
    div
      div(dx-text-box="vm.nachnameConfig")
    div
      {{vm.vorname}} {{vm.nachname}}
      
    div
      div(dx-button="vm.doSomethingConfig")
